html
{
  background-color: chartreuse;
}

img 
{
  display:inline ;
  margin: 0 auto;
}


body 
{
  width: 750px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 25px solid black;
}

h1 
{
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}
p,li 
{
    color: red;
    width: 700px;
    border: 2px solid black;
  
}


p,li 
{
        font-size: 24px;
        line-height: 2;
        letter-spacing: 1;
}